
body{
text-align: center;
}

.grid{
    display:grid;
    grid-template-columns: 20% 20% 20%;
    grid-auto-rows: minmax(50px,auto);
    grid-gap: 5%;
    justify-content: space-between;
}

.grid__column{
  border:2px solid black;

}
